/*headers by Daria*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bebas Neue', cursive;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 16px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}
* {
	margin: 0;
	padding: 0;
}

.main-header {
	padding: 0 0;
}


/*NAVBAR HEADER*/
/* original navbar header css
header .row {
	background-color: black;
	align-items: center;
	color: white;
	font-size: 20px;
}

header .nav-items-left {
	display: flex;
	justify-content: flex-end;
	text-align: center;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}
header .nav-items-right {
	display: flex;
	justify-content: flex-start;
	text-align: center;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}

header .nav-items-center {
	text-align: center;	
}

.nav-items-center .nav-logo-img {
	border: solid 2px black;
	color: red;
	max-height: 80px;
	align-content: center;
}
*/



/* HOMEPAGE */

header .nav-link {



}


/* LOOK OF THE DAY SECTION. Look of the day picture is set in the html!!*/



#look-of-day .row {
	
	background-color: black;
	text-align: left;
	align-items: center;
	margin: 40px;	
}

#look-of-day h1 {
	color: #A300F9;
}


#lookofday-img {

	background-image: url("../images/LookOfTheDay.jpg");
	background-size: cover;
	margin: 100px;
	max-width: 600px;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 150px;

}

#lookofday-txt p {

	text-align: center;
	color: #FFFF00;

}


/* TESTIMONIAL SECTION NOW CALLED CONTACT SECTION in homepage*/

#contact-hm figure { /* text of contact section section */
	
	max-width: 50%;
	text-align: center;
	align-content: center;
	border: solid 3px;
	margin: 0px;
	font-style: italic;
}

#contact-hm .row { /* background of the contact section. INSERT BUILDING IMAGE HERE */
	
	background-image: url("../images/alpaca.jpg");
	background-size: cover;
	background-position: center;
	height: 900px;
	align-content: center;

}

#contact-hm #map-hm {

	margin-top: 10px;

}

/* MAIN FOOTER */

.main-footer {
	text-align: center;
	background-color: white;
	color: black;
}

#logo-footer .footer-logo-img {
	height: 100px;
	width: 100px;
}

/* this row contains about info, logo and contact icons */

footer .upper-footer {
	border-bottom: solid 1px white;
	font-size: 15px;
}

/*this row contains disclaimer and copyright items */

footer .lower-footer {
	
	text-align: justify-center;
	font-size: 10px;
	padding: 5px;
}

.lower-footer .copyright-box {
	align-self: center;	
}

main { /* USED FOR ALL MAIN SECTIONS */
	max-height: auto;
	color: white;
	text-align: center;

}

/* WOMANWEAR BACKGROUND */

#gallery-women {
	background-image: url(../images/llama_female.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	background-color: #0E0116;
}
/* MEANWEAR BACKGROUND */

#gallery-men {
	background-image: url(../images/llama_male.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
	background-color: #0E0116;

}

/* ROW CONTAINING THE GALLERY PICTURES IN WOMEN AND MENWEAR - USED NOW FOR TEXT COLOR AND ALIGN */

.gallery-row {
	color: black;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	
	
}

/*THE GALLERY PICTURES THEMSELVES AT WOMEN AND MENWEAR */

.gallery-items {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

.general-content {
	color: black;
	text-align: center;
	align-content: center;
	
}
.general-content img {
	margin: 10px;
}

.img-fluid {
max-width: 100%; 
height: auto; 
} 

/* GOOGLE MAPS EMBED */

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#contact-top {
	background-color: black;
}

.contact-titles { /*you can use this class to decor the titles. For now only used in contact page */
	background-color: #0E0116;
	color: white;
}

#ourvision .row {

	background-image: url(../images/alpaca.jpg);
	background-size: cover;
	background-position: center;
	height: 800px;
	align-content: center;

}

#justification-section .row {

	background-color: black;
	height: 800px;
	align-content: center;
	text-align: center;
	justify-content: center;

}